node_modules/
dist/
build/
out/
cache/
.next/
target/
*.tsbuildinfo
.env
.env.local
.DS_Store
*.sqlite
*.sqlite-journal
packages/flare-contracts/broadcast/
packages/prover/**/target/
coverage/
packages/flare-contracts/lib/
packages/flare-contracts/out/
packages/flare-contracts/cache/
